@model RMS.App.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Update Employee";
}

<h2>Update Employee</h2>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.Id)

        @if (TempData["msg"] != null)
        {
            <div class="alert alert-warning text-danger">
                @Html.Raw(TempData["msg"])
            </div>
        }
    <div class="row border">

        <div class="col-md-12">
            <br/>
            <h3> Personal info</h3>
        </div>
        <div class="col-md-6">
            <br/>
            <div class="form-group row">
                @Html.LabelFor(model => model.EmployeeTypeId, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.DropDownList("EmployeeTypeId", null, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.EmployeeTypeId, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.FullName, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.FullName, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "Your Name" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                    <p class="text-danger">@ViewBag.Message1</p>
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.ContactNo, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ContactNo, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "Contact No" } })
                    @Html.ValidationMessageFor(model => model.ContactNo, "", new {@class = "text-danger"})
                    <p class="text-danger">@ViewBag.Message2</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <br/>
            <div class="form-group row">
                @Html.LabelFor(model => model.NID, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NID, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.NID, "", new {@class = "text-danger", PlaceHolder = "NID No" })
                    <p class="text-danger">@ViewBag.Message3</p>
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.DrivingLicence, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.DrivingLicence, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "DL No" } })
                    @Html.ValidationMessageFor(model => model.DrivingLicence, "", new {@class = "text-danger"})
                    <p class="text-danger">@ViewBag.Message4</p>
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.BloodGroup, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.BloodGroup, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "Blood Gropu" } })
                    @Html.ValidationMessageFor(model => model.BloodGroup, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row border">
        <div class="col-md-12">
            <br/>
            <h3>Office info</h3>
        </div>
        <div class="col-md-6">
            <br/>
            <div class="form-group row">
                @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.DropDownList("OrganizationId", null, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.OrganizationId, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.DropDownList("DepartmentId", null, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.DesignationId, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.DropDownList("DesignationId", null, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.DesignationId, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
    </div>
    <br/>
    @if (Model.Addresses.Count() != 0)
    {
        foreach (var item in Model.Addresses)
        {
            if (item.AddressType == "Present Address")
            {
                <div class="row border">
                    <div class="col-md-12">
                        <br/>
                        <h3>Present Address</h3>
                        <br/>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row" hidden="hidden">
                            @Html.LabelFor(model=>model.AddressViewModel.EmployeeId,htmlAttributes:new {@class="control-label col-md-3"})
                            <div class="col-md-9">
                                <input name="Addresses.Index" value="0" type="hidden" />
                                @Html.TextBox("Addresses[0].Id", item.Id, new {@class = "form-control", @id = "addressId", @style = "width: 100%; max-width: 100%;"})<br/>
                                @Html.TextBox("Addresses[0].EmployeeId", item.EmployeeId, new { @class = "form-control", @id = "employeeId", @style = "width: 100%; max-width: 100%;" })
                            </div>
                        </div>
                        
                        <div class="form-group row" hidden="hidden">
                            @Html.LabelFor(model => model.AddressViewModel.AddressType, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.TextBox("Addresses[0].AddressType", item.AddressType, new {@class = "form-control", @style = "width: 100%; max-width: 100%;", @readOnly = "readonly", @id = "addressType"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.AddressLine1, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.TextBox("Addresses[0].AddressLine1", item.AddressLine1, new {@class = "form-control", PlaceHolder = "House No: , Flat No: , Road No:", @style = "width: 100%; max-width: 100%;", @id = "addressLine1"})
                                @Html.ValidationMessageFor(model => model.AddressViewModel.AddressLine1, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.AddressLine2, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.TextBox("Addresses[0].AddressLine2", item.AddressLine2, new {@class = "form-control", @style = "width: 100%; max-width: 100%;", PlaceHolder = "Village: / Moholla:", @id = "addressLine2"})
                                @Html.ValidationMessageFor(model => model.AddressViewModel.AddressLine2, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.PostOffice, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.TextBox("Addresses[0].PostOffice", item.PostOffice, new {@class = "form-control",@style = "width: 100%; max-width: 100%;", PlaceHolder = "Post Office", @id = "postOffice"})
                                @Html.ValidationMessageFor(model => model.AddressViewModel.PostOffice, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.PostCode, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.TextBox("Addresses[0].PostCode", item.PostCode, new {@class = "form-control", @style = "width: 100%; max-width: 100%;", PlaceHolder = "Post Code", @id = "postCode"})
                                @Html.ValidationMessageFor(model => model.AddressViewModel.PostCode, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.DivisionId, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.DropDownList("Addresses[0].DivisionId", new SelectList(Model.DivisionList, "Id", "Name",item.DivisionId), "Select Division", htmlAttributes: new {@class = "form-control", @id = "divisionDD"})
                                @Html.ValidationMessageFor(model => model.AddressViewModel.DivisionId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.DistrictId, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.DropDownList("Addresses[0].DistrictId", new SelectList("DistrictDropDown",item.DistrictId),"Select District", htmlAttributes: new {@class = "form-control", @id = "districtDD"})

                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.UpazilaId, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.DropDownList("Addresses[0].UpazilaId", new SelectList("UpazilaDropDown",item.UpazilaId),"Select Upazila", htmlAttributes: new {@class = "form-control", @id = "upazilaDD"})

                            </div>
                        </div>
                        @*<div class="form-group row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">
                                
                                <input type="checkbox" id="PACheckBox"/> <strong> Present address is true! </strong>

                            </div>
                        </div>*@
                    </div>
                </div>
                <br/>
            }
            if (item.AddressType == "Permanent Address")
            {
                <div class="row border">
                    <div class="col-md-6">
                        <br/>
                        <h3>Permanent Address</h3>
                        <br/>
                    </div>
                    <div class="col-md-6">
                        <br />
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <input type="checkbox" id="PACheckBox1"/> <strong> Same as present address! </strong>
                            </div>
                        </div>
                        <br/>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row" hidden="hidden">
                            @Html.LabelFor(model => model.AddressViewModel.EmployeeId, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <input name="Addresses.Index" value="1" type="hidden" />
                                @Html.TextBox("Addresses[1].Id", item.Id, new { @class = "form-control", @id = "addressIdp", @style = "width: 100%; max-width: 100%;" })<br />
                                @Html.TextBox("Addresses[1].EmployeeId", item.EmployeeId, new { @class = "form-control", @id = "employeeIdp", @style = "width: 100%; max-width: 100%;" })
                            </div>
                        </div>
                        <div class="form-group row" hidden="hidden">
                            @Html.LabelFor(model => model.AddressViewModel.AddressType, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBox("Addresses[1].AddressType",item.AddressType, new {@class = "form-control", @style = "width: 100%; max-width: 100%;", @readOnly = "readonly", @id="addressTypep"})
                                @Html.ValidationMessageFor(model => model.AddressViewModel.AddressType, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.AddressLine1, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.TextBox("Addresses[1].AddressLine1", item.AddressLine1, new {@class = "form-control", PlaceHolder = "House No: , Flat No: , Road No:", @style = "width: 100%; max-width: 100%;", @id = "addressLine1p"})
                                @Html.ValidationMessageFor(model => model.AddressViewModel.AddressLine1, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.AddressLine2, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.TextBox("Addresses[1].AddressLine2", item.AddressLine2, new {@class = "form-control", PlaceHolder = "Village: / Moholla:", @style = "width: 100%; max-width: 100%;", @id = "addressLine2p"})
                                @Html.ValidationMessageFor(model => model.AddressViewModel.AddressLine2, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.PostOffice, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.TextBox("Addresses[1].PostOffice", item.PostOffice, new {@class = "form-control", PlaceHolder = "Post Office", @style = "width: 100%; max-width: 100%;", @id = "postOfficep"})
                                @Html.ValidationMessageFor(model => model.AddressViewModel.PostOffice, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.PostCode, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.TextBox("Addresses[1].PostCode", item.PostCode, new {@class = "form-control", PlaceHolder = "Post Code", @style = "width: 100%; max-width: 100%;", @id = "postCodep"})
                                @Html.ValidationMessageFor(model => model.AddressViewModel.PostCode, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.DivisionId, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.DropDownList("Addresses[1].DivisionId", new SelectList(Model.DivisionList, "Id", "Name",item.DivisionId), "Select Division", htmlAttributes: new {@class = "form-control", @id = "divisionDDp"})
                                @Html.ValidationMessageFor(model => model.AddressViewModel.DivisionId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.DistrictId, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.DropDownList("Addresses[1].DistrictId", new SelectList("DistrictDropDown"), "Select District", htmlAttributes: new {@class = "form-control", @id = "districtDDp"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AddressViewModel.UpazilaId, htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.DropDownList("Addresses[1].UpazilaId", new SelectList("UpazilaDropDown"), "Select Upazila/Thana", htmlAttributes: new {@class = "form-control", @id = "upazilaDDp"})

                            </div>
                        </div>
                        @*<br/>
                        <div class="form-group row">
                            <div class="col-md-3">
                            </div>
                            <br/><br/>
                            <div class="col-md-6">

                                    <input type="checkbox" id="PACheckBox2"/> <strong> Permanent address is true! </strong>

                            </div>
                        </div>*@
                    </div>
                </div>
            }
        }
    }
    else
    {
        <div class="row border">
            <div class="col-md-12">
                <br/>
                <h3>Present Address</h3>
                <br/>
            </div>

            <div class="col-md-6">
                <div class="form-group row" hidden="hidden">
                    @Html.LabelFor(model => model.AddressViewModel.EmployeeId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <input name="Addresses.Index" value="0" type="hidden" />
                        @Html.TextBox("Addresses[0].EmployeeId", Model.Id, new { @class = "form-control", @id = "employeeId", @style = "width: 100%; max-width: 100%;" })
                    </div>
                </div>

                <div class="form-group row" hidden="hidden">
                    @Html.LabelFor(model => model.AddressViewModel.AddressType, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("Addresses[0].AddressType", "Present Address", new { @class = "form-control", @style = "width: 100%; max-width: 100%;", @readOnly = "readonly", @id = "addressType" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.AddressLine1, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("Addresses[0].AddressLine1", null, new { @class = "form-control", PlaceHolder = "House No: , Flat No: , Road No:", @style = "width: 100%; max-width: 100%;", @id = "addressLine1" })
                        @Html.ValidationMessageFor(model => model.AddressViewModel.AddressLine1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.AddressLine2, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("Addresses[0].AddressLine2", null, new { @class = "form-control", @style = "width: 100%; max-width: 100%;", PlaceHolder = "Village: / Moholla:", @id = "addressLine2" })
                        @Html.ValidationMessageFor(model => model.AddressViewModel.AddressLine2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.PostOffice, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("Addresses[0].PostOffice", null, new { @class = "form-control", PlaceHolder="Post Office" ,@style = "width: 100%; max-width: 100%;", @id = "postOffice" })
                        @Html.ValidationMessageFor(model => model.AddressViewModel.PostOffice, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.PostCode, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("Addresses[0].PostCode",null, new { @class = "form-control", PlaceHolder = "Post Code", @style = "width: 100%; max-width: 100%;", @id = "postCode" })
                        @Html.ValidationMessageFor(model => model.AddressViewModel.PostCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.DivisionId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("Addresses[0].DivisionId", new SelectList(Model.DivisionList, "Id", "Name"), "Select Division", htmlAttributes: new { @class = "form-control", @id = "divisionDD" })
                        @Html.ValidationMessageFor(model => model.AddressViewModel.DivisionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.DistrictId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("Addresses[0].DistrictId", new SelectList("DistrictDropDown"),"Select District", htmlAttributes: new { @class = "form-control", @id = "districtDD" })

                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.UpazilaId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("Addresses[0].UpazilaId", new SelectList("UpazilaDropDown"),"Select Upazila/Thana", htmlAttributes: new { @class = "form-control", @id = "upazilaDD" })

                    </div>
                </div>
                
            </div>
        </div>
        <br/>
        <div class="row border">

            <div class="col-md-6">
                <br/>
                <h3>Permanent Address</h3>
                <br/>
            </div>
            <div class="col-md-6">
                <br/>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <input type="checkbox" id="PACheckBox1" /> <strong> Same as present address! </strong>
                    </div>
                </div>
                <br/>
            </div>

            <div class="col-md-6">
                <div class="form-group row" hidden="hidden">
                    @Html.LabelFor(model => model.AddressViewModel.EmployeeId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <input name="Addresses.Index" value="1" type="hidden" />
                        @Html.TextBox("Addresses[1].EmployeeId", Model.Id, new { @class = "form-control", @id = "employeeIdp", @style = "width: 100%; max-width: 100%;" })
                    </div>
                </div>
                <div class="form-group row" hidden="hidden">
                    @Html.LabelFor(model => model.AddressViewModel.AddressType, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("Addresses[1].AddressType", "Permanent Address", new { @class = "form-control", @style = "width: 100%; max-width: 100%;", @readOnly = "readonly",@id="addressTypep" })
                        @Html.ValidationMessageFor(model => model.AddressViewModel.AddressType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.AddressLine1, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("Addresses[1].AddressLine1", null, new { @class = "form-control", PlaceHolder = "House No: , Flat No: , Road No:", @style = "width: 100%; max-width: 100%;", @id = "addressLine1p" })
                        @Html.ValidationMessageFor(model => model.AddressViewModel.AddressLine1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.AddressLine2, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("Addresses[1].AddressLine2", null, new { @class = "form-control", PlaceHolder = "Village: / Moholla:", @style = "width: 100%; max-width: 100%;", @id = "addressLine2p" })
                        @Html.ValidationMessageFor(model => model.AddressViewModel.AddressLine2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.PostOffice, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("Addresses[1].PostOffice", null, new { @class = "form-control", PlaceHolder = "Post Office", @style = "width: 100%; max-width: 100%;", @id = "postOfficep" })
                        @Html.ValidationMessageFor(model => model.AddressViewModel.PostOffice, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.PostCode, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("Addresses[1].PostCode",null, new { @class = "form-control", PlaceHolder = "Post Code", @style = "width: 100%; max-width: 100%;", @id = "postCodep" })
                        @Html.ValidationMessageFor(model => model.AddressViewModel.PostCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.DivisionId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("Addresses[1].DivisionId", new SelectList(Model.DivisionList, "Id", "Name"), "Select Division", htmlAttributes: new { @class = "form-control", @id = "divisionDDp" })
                        @Html.ValidationMessageFor(model => model.AddressViewModel.DivisionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.DistrictId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("Addresses[1].DistrictId", new SelectList("DistrictDropDown"), "Select District", htmlAttributes: new { @class = "form-control", @id = "districtDDp" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.AddressViewModel.UpazilaId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("Addresses[1].UpazilaId", new SelectList("UpazilaDropDown"), "Select Upazila/Thana", htmlAttributes: new { @class = "form-control", @id = "upazilaDDp" })

                    </div>
                </div>
            </div>
        </div>
    }
        <table id="addressTable" class="table table-bordered " style="display: none !important">
            <thead>
                <tr>
                    <th style="width: 10%">SL</th>
                    <th style="width: 10%">Address Type</th>
                    <th style="width: 10%">Address Line1</th>
                    <th style="width: 10%">Address Line2</th>
                    <th style="width: 10%">Post Office</th>
                    <th style="width: 10%">Post Code</th>
                    <th style="width: 10%">Division</th>
                    <th style="width: 10%">District</th>
                    <th style="width: 10%">Upazila</th>
                    <th style="width: 5%">Address Id</th>
                    <th style="width: 5%">Employee Id</th>
                </tr>
            </thead>
            <tbody id="addressDetails"></tbody>
        </table>
    <br/><br/>
    <div class="form-group row">
        <div class="col-md-9"></div>
        <div class="col-md-3 text-right">
            @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-info"}) &nbsp;
            <input type="submit" value="&nbsp; Update &nbsp;" class="btn btn-default"/>

        </div>
    </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/AddressJs/EditEmployeeAddress.js"></script>
}
