@model IEnumerable<RMS.Models.EntityModels.Department>

@{
    ViewBag.Title = "Index";
}
<br/>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
           
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            
        </div>

        <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
            <p>
                @using (Html.BeginForm("Index", "Departments", FormMethod.Get))
                {

                    <b>Search</b>
                    @Html.TextBox("searchText")
                    <input type="submit" value="Search" />

                }
            </p>

        </div>
    </div>
</div>
<br />

<table class="table">
    <tr>
        <th>
            Organization
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>Action</th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Departments", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", "Departments", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", "Departments", new {id = item.Id})
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/DepartmentJs/CreateDepartment.js"></script>