@model IEnumerable<RMS.App.ViewModels.RequisitionStatusViewModel>

@{
    ViewBag.Title = "CheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckIn</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StatusType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequisitionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequisitionId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
