@model IEnumerable<RMS.App.ViewModels.RequisitionStatusViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-12">
            <p>
                @using (Html.BeginForm("Index", "GatePass", FormMethod.Get))
                {
                    <b>Search by (Requisition Number)</b>
                    @Html.TextBox("searchByText")
                    <input type="submit" value="Search" />
                }
            </p>

        @*@Html.Partial("~/Views/GatePass/RequisitionIndex.cshtml")*@
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requisition.RequisitionNumber)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequisitionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requisition.RequisitionNumber)
        </td>
      
        <td>
            @Html.ActionLink("Check-Out", "CheckOut", new { id=item.Id }) |
            @Html.ActionLink("Check-In", "Details", new { id=item.RequisitionId }) 
        </td>
    </tr>
}

</table>
