@model RMS.App.ViewModels.AssignRequisitionViewModel

@{
    ViewBag.Title = "Create Assign Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign Requisition</h2>
<hr/>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            @Html.LabelFor(model => model.RequisitionId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.TextBox("RequisitionId", null, htmlAttributes: new { @class = "form-control", @readOnly="readonly"})
                @Html.ValidationMessageFor(model => model.RequisitionId, "", new { @class = "text-danger" })
            </div>
        </div>
            <div class="form-group row">
                @Html.LabelFor(model=>model.RequisitionStatusId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.DropDownList("RequisitionStatusId", null, htmlAttributes:new { @class = "form-control", @readOnly="readonly"})
                    @Html.ValidationMessageFor(model=>model.RequisitionStatusId, "", new { @class = "text-danger" })
                </div>
            </div>
        
        <div class="form-group row">
            @Html.LabelFor(model => model.RequisitionNumber, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.TextBox("RequisitionNumber",null,htmlAttributes:new {@class="form-control",@readOnly="readonly"})
                @Html.ValidationMessageFor(model => model.RequisitionNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.VehicleId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.DropDownList("VehicleId", null, "Select" ,htmlAttributes:new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VehicleId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.DropDownList("EmployeeId", null, "Select", htmlAttributes:new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <input type="submit" value="Assign" class="btn btn-default"/> &nbsp;
                @Html.ActionLink("Back to List", "Requests",null,new {@class="btn btn-info"})
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
