@model IEnumerable<RMS.App.ViewModels.RequisitionStatusViewModel>

@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Requests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StatusType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequisitionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequisitionId)
        </td>
        <td>
            @Html.ActionLink("Assign Requisition", "Create", new { id=item.RequisitionId }) |
            @Html.ActionLink("View", "ViewDetails", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
