
@model RMS.App.ViewModels.AssignRequisitionViewModel

@{
    ViewBag.Title = "Assign Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Assign Requisition</h2>
<hr/>

<div>
    
    <dl>

            <dt>
                @Html.DisplayNameFor(model => model.Requisition.Employee.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Requisition.Employee.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Requisition.DestinationPlace)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Requisition.StartDateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Requisition.StartDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Requisition.EndDateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Requisition.EndDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Requisition.FromPlace)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Requisition.FromPlace)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Requisition.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Requisition.RequestFor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Requisition.RequestFor)
            </dd>

        </dl>
    

</div>
@using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row">
                @Html.LabelFor(model => model.RequisitionId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.RequisitionId, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.RequisitionId, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group row">
                @Html.LabelFor(model => model.VehicleId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Vehicle",null, new { htmlAttributes = new { @class = "dropdown form-control" } })
                    @Html.ValidationMessageFor(model => model.VehicleId, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group row">
                @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Driver",null, new { htmlAttributes = new { @class = "dropdown form-control" } })
                    @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                </div>
            </div>
    
            
    
            <div class="form-group row">
                @Html.LabelFor(model => model.RequisitionStatusId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RequisitionStatusId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RequisitionStatusId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <input type="submit" value="Create" class="btn btn-default"/> &nbsp;
                    @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-info"})
                </div>
            </div>
        </div>
    }
    

