@model RMS.App.ViewModels.RequisitionViewModel

@{
    ViewBag.Title = "Requisition Details";
}

<h2>Requisition Details</h2>
<hr/>

<div class="row">
    <div class="col-md-2">@Html.DisplayNameFor(model => model.Employee.FullName)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.Employee.FullName)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.RequisitionNumber)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.RequisitionNumber)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.FromPlace)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.FromPlace)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.DestinationPlace)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.DestinationPlace)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.StartDateTime)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.StartDateTime)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.EndDateTime)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.EndDateTime)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.PassengerQty)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.PassengerQty)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.Description)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.Description)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.RequestFor)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.RequestFor)</div>

</div>
<br/>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new {@class="btn btn-warning"}) &nbsp;
    @Html.ActionLink("Back to List", "Create",null,new {@class="btn btn-info"})
</p>
