@model RMS.App.ViewModels.RequisitionStatusViewModel

@{
    ViewBag.Title = "Requisition Details";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}

<h2>Requisition Details</h2>
<hr/>

<div class="row">
<div class="col-md-8 col-lg-8 col-8">
  <table class="table table-bordered table-light table-striped" style="width: 100%">
      <tr>
          <td class="col-md-2-custom" style="width: 25%">
              @Html.DisplayNameFor(model => model.RequisitionNumber)
          </td>
          <td style="width: 75%">
              @Html.DisplayFor(model => model.RequisitionNumber)
          </td>
      </tr>

      @if (Model.Requisition.RequestFor == "Own")
      {
        <tr>
            <td class="col-md-2-custom">
                @Html.DisplayNameFor(model => model.Requisition.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(model => model.Requisition.Employee.FullName)
            </td>
        </tr>
      }

      @if (Model.Requisition.RequestFor != "Own")
      {
        <tr>
            <td class="col-md-2-custom">
                @Html.DisplayNameFor(model => model.Requisition.RequestFor)
            </td>
            <td>
                @Html.DisplayFor(model => model.Requisition.RequestFor)
            </td>
        </tr>
        <tr>
            <td class="col-md-2-custom">
                @Html.DisplayName("Requiest By")
            </td>
            <td >
                @Html.DisplayFor(model => model.Requisition.Employee.FullName)
            </td>
        </tr>
        
      }
 
            <tr>
                <td class="col-md-2-custom">
                    @Html.DisplayNameFor(model => model.Requisition.FromPlace)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Requisition.FromPlace)
                </td>
            </tr>
            <tr>
                <td class="col-md-2-custom">
                    @Html.DisplayNameFor(model => model.Requisition.DestinationPlace)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Requisition.DestinationPlace)
                </td>
            </tr>
            <tr>
                <td class="col-md-2-custom">
                    @Html.DisplayNameFor(model => model.Requisition.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Requisition.StartDateTime)
                </td>
            </tr>
            <tr>
                <td class="col-md-2-custom">
                    @Html.DisplayNameFor(model => model.Requisition.EndDateTime)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Requisition.EndDateTime)
                </td>
            </tr>
            <tr>
                <td class="col-md-2-custom">
                    @Html.DisplayNameFor(model => model.Requisition.PassengerQty)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Requisition.PassengerQty)
                </td>
            </tr>
            <tr>
                <td class="col-md-2-custom">
                    @Html.DisplayNameFor(model => model.StatusType)
                </td>
                <td class="text-danger">
                    @Html.DisplayFor(model => model.StatusType)
                </td>
            </tr>
            <tr>
                <td class="col-md-2-custom">
                    @Html.DisplayNameFor(model => model.Requisition.RequisitionType)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Requisition.RequisitionType)
                </td>
            </tr>
            <tr>
                <td class="col-md-2-custom">
                    @Html.DisplayNameFor(model => model.Requisition.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Requisition.Description)
                </td>
            </tr>
            
        </table>
    </div>
     @*Assigned Requisition Information*@
    <div class="col-md-4 col-lg-4 col-4 border">
        @{
            var data = ViewBag.Data;
            if (data != null)
            {
                <br />
                <h4>Vehicle and Driver Info!</h4>
                <hr/>

                <div class="col-md-2">@Html.DisplayName("Vehicle Registration No")</div>
                <div class="col-md-10">@data.Vehicle.RegNo</div>

                <div class="col-md-2">@Html.DisplayName("Vehicle Brand Name")</div>
                <div class="col-md-10">@data.Vehicle.BrandName</div>

                <div class="col-md-2">@Html.DisplayName("Driver Name")</div>
                <div class="col-md-10">@data.Employee.FullName</div>


                <div class="col-md-2">@Html.DisplayName("Driver Contact No")</div>
                <div class="col-md-10">@data.Employee.ContactNo</div>
            }

        }

        @*Cancelled Requisition Information*@

        @{
            var cancelInformation = ViewBag.CancelInfo;

            if (cancelInformation != null)
            {
                <br/>
                <h4>Reason of Cancle!</h4>
                <hr/>
                @*<div class="col-md-2">@Html.DisplayName("Exaplanation")</div>*@
                <div class="col-md-10 text-danger">@cancelInformation.Reason</div>

            }

        }
    </div>
    

</div>
<br/>
<p>
    @if (Model.StatusType == "New")
    {
            
        <div class="col-md-12"><strong class="font-weight-bold">This is new Request which is not assigned.</strong></div>
        
        @Html.ActionLink(" Update ", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    }
     &nbsp;
    @Html.ActionLink("Back to List", "Create", null, new {@class = "btn btn-info"}) &nbsp;
    @*@Html.ActionLink("Delete", "Delete", new {id = Model.Id}, new {@class = "btn btn-danger"})*@
</p>
