@model RMS.App.ViewModels.RequisitionStatusViewModel

@{
    ViewBag.Title = "Requisition Details";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}

<h2>Requisition Details</h2>
<hr/>

<div class="row">
    <div class="col-md-2">@Html.DisplayNameFor(model => model.Requisition.Employee.FullName)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.Requisition.Employee.FullName)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.RequisitionNumber)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.RequisitionNumber)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.Requisition.FromPlace)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.Requisition.FromPlace)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.Requisition.DestinationPlace)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.Requisition.DestinationPlace)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.Requisition.StartDateTime)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.Requisition.StartDateTime)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.Requisition.EndDateTime)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.Requisition.EndDateTime)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.Requisition.PassengerQty)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.Requisition.PassengerQty)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.Requisition.Description)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.Requisition.Description)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.Requisition.RequestFor)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.Requisition.RequestFor)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.StatusType)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.StatusType)</div>

    @{
        var data = ViewBag.Data;
        if (data != null)
        {

            <div class="col-md-2">@Html.DisplayName("Vehicle Registration No")</div>
            <div class="col-md-10">@data.Vehicle.RegNo</div>

            <div class="col-md-2">@Html.DisplayName("Vehicle Brand Name")</div>
            <div class="col-md-10">@data.Vehicle.BrandName</div>

            <div class="col-md-2">@Html.DisplayName("Driver Name")</div>
            <div class="col-md-10">@data.Employee.FullName</div>


            <div class="col-md-2">@Html.DisplayName("Driver Contact No")</div>
            <div class="col-md-10">@data.Employee.ContactNo</div>
        }
        if (data == null)
        {

            <div class="col-md-12">This is new Request which is not assigned...</div>
        }
    }
    
</div>
<br/>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new {@class="btn btn-warning"}) &nbsp;
    @Html.ActionLink("Back to List", "Create", null, new {@class = "btn btn-info"}) &nbsp;
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id },new {@class="btn btn-danger"})
    @Html.ActionLink("Report", "Report","RequisitionQueue", new { id = Model.Id }, new { @class = "btn btn-danger" })
</p>
