@model RMS.App.ViewModels.FeedbackViewModel

@{
    ViewBag.Title = "Reply";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}

<h2>Reply</h2>
<hr/>

@using (Html.BeginForm("Reply","Requisitions",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RequisitionId)
        @Html.Hidden("returnUrl", this.Request.RawUrl)
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group row">
            @if (ViewBag.Msg != null)
            {
                <div>@ViewBag.Msg</div>
            }
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.CommentText, htmlAttributes: new {@class = "control-label col-md-12"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.CommentText, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CommentText, "", new {@class = "text-danger"})
            </div>
        </div>


        <div class="form-group row" hidden="hidden">
            @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-5">
                <input type="submit" value="Reply" class="btn btn-primary"/> &nbsp;
                @Html.ActionLink("Back to List", "RequisitionList", "Requisitions", null, new {@class = "btn btn-info"})
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
