@using Microsoft.ReportingServices.Interfaces
@model IEnumerable<RMS.App.ViewModels.RequisitionStatusViewModel>

@{
    Layout = null;
}
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @Html.Raw(TempData["msg"])
    </div>
}




<div style="margin-left: 15px;">

@if (TempData["msg1"] != null)
{
    <div class="alert alert-warning">
        @Html.Raw(TempData["msg1"])
    </div>
}

    </div>
<div style="margin-left: 15px;" class="responsive">

    <p>
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new {@class = "btn btn-success"})
    </p>
    <table id="example1" class="table table-striped table-bordered table-hover dt-responsive nowrap" style="width: 100%">
        <thead>
        <tr class="bg-info">
            <th>
                SL
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisition.FromPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisition.DestinationPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisition.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisition.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisition.SubmitDateTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Requisition.RequisitionType)
            </th>
            <th>
                Action
            </th>
        </tr>

        </thead>
        <tbody>
        @{
            var sl = 0;
            if (Model.Count() != 0)
            {
                foreach (var item in Model)
                {
                    sl++;
                    <tr>
                        <td>
                            @sl

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Requisition.FromPlace)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Requisition.DestinationPlace)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Requisition.StartDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Requisition.EndDateTime)
                        </td>
                        <td class="text-lg-center text-danger">
                            @Html.DisplayFor(modelItem => item.StatusType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Requisition.SubmitDateTime)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Requisition.RequisitionType)
                        </td>
                        <td>
                            @if (item.StatusType == "New")
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.RequisitionId },new {@class="btn btn-warning btn-sm"})<span> </span>
                            }

                            @Html.ActionLink("Details", "Details", new {id = item.Requisition.Id}, new { @class = "btn btn-success btn-sm" }) <span> </span>

                            @Html.ActionLink("Feedback", "Feedback", new {requisitionId = item.Id}, new { @class = "btn btn-info btn-sm" })

                        </td>
                    </tr>
                }
            }
        }
        </tbody>
        <tfoot>
        <tr class="bg-secondary text-white">
            <th>
                SL
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Requisition.FromPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisition.DestinationPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisition.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisition.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisition.SubmitDateTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Requisition.RequisitionType)
            </th>
            <th>
                Action
            </th>
        </tr>
        </tfoot>
    </table>
</div>
    
