
@model RMS.Models.EntityModels.Organization

@{
    ViewBag.Title = "Create";
}

<h2>To Create Organization</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <h4>Please Provide your Information</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "col-md-4" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "col-md-4" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegNo, htmlAttributes: new { @class = "control-label col-md-2" })
            
                @Html.EditorFor(model => model.RegNo, new { htmlAttributes = new { @class = "col-md-4" } })
                @Html.ValidationMessageFor(model => model.RegNo, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <div class="col-md-offset-0 col-md-12">
                <input type="submit" value="Create" class="btn btn-default"/>

                
                    @Html.ActionLink("Back to List", "Index")
                
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
