<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/img/bcc_logo.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/Content/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link href="~/Content/chosenDD/chosen.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/main.css">
    
    @RenderSection("styles", required: false)
</head>
<body>
    <!--Start Header Menu-->
    @Html.Partial("_MenuBar")
    <!-- End header menu -->

<!-- Start service Area -->
<section class="service-area" style="height: 100vh; min-height: 100vh; overflow: hidden; clear: both; height: auto;">
    <div class="container" style="height: 175px; background-color: #FFF"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 bgnewcolor" style="padding: 20px 20px;">
                <div class="row">
                    <div class="col-md-3">
                        <!--Steup All-->
                        @if (User.IsInRole("Administrator"))
                        {
                            <div class="row" style="font-size: 16px;">

                                <div class="col-md-12">
                                    <h3 class="text-dark">
                                        <i class="fa fa-gear" aria-hidden="true"></i> Setup All
                                    </h3>
                                    <hr/>
                                </div>
                                <br/>
                                <div class="col-md-12" style="font-size: 16px;">
                                    <div class="col-md-12 col-12">
                                        <a href="#" class="font-weight-light text-black" data-toggle="collapse" data-target="#demo1"><i class="fa fa-bank" aria-hidden="true"></i> Organization</a><br/>
                                    </div>
                                    <div id="demo1" class="col-md-12 col-12 collapse clearfix" style="margin-left: 35px;">
                                        @Html.ActionLink("Create New", "Create", "Organizations")<br/>
                                        @Html.ActionLink("Organization List", "Index", "Organizations")
                                    </div>
                                </div>
                                <br/><br/>

                                <div class="col-md-12" style="font-size: 16px;">

                                    <div class="col-md-12 col-12">
                                        <a href="#" class="font-weight-light text-black" data-toggle="collapse" data-target="#demo2"><i class="fa fa-briefcase" aria-hidden="true"></i> Department</a><br/>
                                    </div>
                                    <div id="demo2" class="col-md-12 col-12 collapse clearfix" style="margin-left: 35px;">
                                        @Html.ActionLink("Create New", "Create", "Departments")<br/>
                                        @Html.ActionLink("List Of Department", "Index", "Departments")
                                    </div>
                                </div>
                                <br/><br/>
                                <div class="col-md-12" style="font-size: 16px;">
                                    <div class="col-md-12 col-12">
                                        <a href="#" class="font-weight-light text-black" data-toggle="collapse" data-target="#demo4"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Designation</a><br/>
                                    </div>
                                    <div id="demo4" class="col-md-12 col-12 collapse clearfix" style="margin-left: 35px;">
                                        @Html.ActionLink("Create New", "Create", "Designations")<br/>
                                        @Html.ActionLink("Employee Designation List", "Index", "Designations")
                                    </div>
                                </div>
                                <br/><br/>
                                <div class="col-md-12" style="font-size: 16px;">
                                    <div class="col-md-12 col-12">
                                        <a href="#" class="font-weight-light text-black" data-toggle="collapse" data-target="#demo5"><i class="fa fa-user" aria-hidden="true"></i> Employee Type</a><br/>
                                    </div>
                                    <div id="demo5" class="col-md-12 col-12 collapse clearfix" style="margin-left: 35px;">
                                        @Html.ActionLink("Employee Type List", "Index", "EmployeeTypes")
                                    </div>
                                </div>
                                <br/><br/>
                                <div class="col-md-12" style="font-size: 16px;">
                                    <div class="col-md-12 col-12">
                                        <a href="#" class="font-weight-light text-black" data-toggle="collapse" data-target="#demo6"><i class="fa fa-user" aria-hidden="true"></i> Employee</a><br />
                                    </div>
                                    <div id="demo6" class="col-md-12 col-12 collapse clearfix" style="margin-left: 35px;">
                                        @Html.ActionLink("Create New", "Create", "Employees")<br/>
                                        @Html.ActionLink("Employee List", "GetAllEmployee", "Employees")<br/>
                                        @Html.ActionLink("Employee and Driver List", "Index", "Employees")
                                    </div>
                                </div>
                                <br/><br/>
                                <div class="col-md-12" style="font-size: 16px;">
                                    <div class="col-md-12 col-12">
                                        <a href="#" class="font-weight-light text-black" data-toggle="collapse" data-target="#demo7"><i class="fa fa-user" aria-hidden="true"></i> Driver</a><br />
                                    </div>
                                    <div id="demo7" class="col-md-12 col-12 collapse clearfix" style="margin-left: 35px;">
                                        @Html.ActionLink("Create New", "CreateDriver", "Employees")<br />
                                        @Html.ActionLink("Driver List", "GetAllDriver", "Employees")
                                    </div>
                                </div>
                                <br/><br/>
                                <div class="col-md-12" style="font-size: 16px;">
                                    <div class="col-md-12 col-12">
                                        <a href="#" class="font-weight-light text-black" data-toggle="collapse" data-target="#demo8"><i class="fa fa-car" aria-hidden="true"></i> Vehicle Type</a><br/>
                                    </div>
                                    <div id="demo8" class="col-md-12 col-12 collapse clearfix" style="margin-left: 35px;">
                                        @Html.ActionLink("Create New", "Create", "VehicleTypes")<br/>
                                        @Html.ActionLink("Vehile Type List", "Index", "VehicleTypes")
                                    </div>
                                </div>
                                <br/><br/>
                                <div class="col-md-12"style="font-size: 16px;">
                                    <div class="col-md-12 col-12">
                                        <a href="#" class="font-weight-light text-black" data-toggle="collapse" data-target="#demo9"><i class="fa fa-car" aria-hidden="true"></i> Vehicle</a><br/>
                                    </div>
                                    <div id="demo9" class="col-md-12 col-12 collapse clearfix" style="margin-left: 35px;">
                                        @Html.ActionLink("Create New", "Create", "Vehicles")<br/>
                                        @Html.ActionLink("Vehicle List", "Index", "Vehicles")
                                    </div>
                                </div>
                               
                            </div>
                            <br/>
                        }
                        <!--Requisition Que-->
                        @if (User.IsInRole("Controller"))
                        {
                            <div class="row" style="font-size: 16px;">

                                <div class="col-md-12">
                                    <h3 class="text-dark">
                                        <i class="fa fa-gear" aria-hidden="true"></i> Queue Item
                                    </h3>
                                    <hr />
                                </div>
                                <br /><br />
                                <div class="col-md-12">
                                    <a class="dropdown-item" href="@Url.Action("Requests", "AssignRequisitions")"><i class="fa fa-car"></i> New Requisitions </a>
                                </div>
                                <br /><br />
                                <div class="col-md-12">
                                    <a class="dropdown-item" href="@Url.Action("Index", "AssignRequisitions")"><i class="fa fa-car"></i> Assigned Requisitions </a>
                                </div>
                                <br /><br />
                                <div class="col-md-12">
                                    <a class="dropdown-item" href="@Url.Action("Index", "CancelRequisition")"><i class="fa fa-car"></i> Cancelled Requisitions </a>
                                </div>
                                <br /><br />
                                <div class="col-md-12">
                                    <a class="dropdown-item" href="@Url.Action("OnProcess", "AssignRequisitions")"><i class="fa fa-car"></i> OnProcess Requisitions </a>
                                </div>
                                <br /><br />
                                <div class="col-md-12">
                                    <a class="dropdown-item" href="@Url.Action("CompleteRequest", "AssignRequisitions")"><i class="fa fa-car"></i> Complete Requisitions </a>
                                </div>

                                <br /><br />
                                <div class="col-md-12">
                                    <a class="dropdown-item" href="@Url.Action("Index", "RequisitionStatus")"><i class="fa fa-car"></i> Requisitions Status </a>
                                </div>
                                <br /><br />
                                <div class="col-md-12">
                                    <a class="dropdown-item" href="@Url.Action("Index", "Requisitions")"><i class="fa fa-car"></i> All Requisition</a>
                                </div>
                                <br />


                            </div>
                        }
                        <!--Mail Service-->
                        @if (User.IsInRole("Controller"))
                        {
                            <br /><br />
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-dark">
                                        <i class="fa fa-envelope-open" aria-hidden="true"></i> Mail Service
                                    </h3>
                                    <hr />
                                </div>
                                <br /><br />
                                <div class="col-md-12" style="font-size: 16px;">
                                    <div class="col-md-12 col-12">
                                        <a href="#" class="text-black font-weight-normal" data-toggle="collapse" data-target="#demo10"><i class="fa fa-envelope-o" aria-hidden="true"></i> Mail</a><br />
                                    </div>
                                    <div id="demo10" class="col-md-12 col-12 collapse clearfix" style="margin-left: 35px;">
                                        @Html.ActionLink("Send New", "Create", "MailServices")<br />
                                        @Html.ActionLink("List Of Mail", "Index", "MailServices")
                                    </div>
                                </div>
                                <br /><br />
                            </div>

                        }
                      </div>

                    <div class="col-md-9">
                        @RenderBody()

                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- End service Area -->
    
    <!-- start footer Area -->
    <footer class="footer-area ">
        <div class="container">
           
            <div class="row  d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | this product make by <i class="fa fa-heart-o" aria-hidden="true"></i> &nbsp; <a href="@Url.Action("AboutDeveloper","Home")" target="_blank"><strong>Developers</strong></a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="https://www.facebook.com/chittoranjan.sarker"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/chittoranjan"><i class="fa fa-twitter"></i></a>
                    <a href="https://plus.google.com/u/0/+ChittoRanjanSarker"><i class="fa fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/in/chitto-ranjan-sarker-94646557/"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>
<!-- End footer Area -->

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/js/easing.min.js"></script>
    <script src="~/Content/js/hoverIntent.js"></script>
    <script src="~/Content/js/superfish.min.js"></script>
    <script src="~/Content/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/jquery-ui.js"></script>
    <script src="~/Content/js/mail-script.js"></script>
    <script src="~/Scripts/chosenDD/chosen.jquery.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Scripts/RequiredFieldsAsteriskJs/RequiredFieldAsterisk.js"></script>

    @RenderSection("scripts", required: false)
    
</body>
</html>