
<header id="header" id="home">
    <!-- Start header -->
    <div class="header-top" >
        <div class="container">
            <div class="row align-items-center">
                
                <div class="col-lg-4 col-sm-4 col-4 header-top-left no-padding">

                    <p class="float-left">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/bcc_logo.png" width="40" height="40" alt="Home Logo" title="Home BCC"/></a>
                        &nbsp; <strong style="font-size: 20px;" class="font-weight-bold" id="logotext">Bangladesh Computer Council</strong>
                    </p>
                </div>

                <div class="col-lg-6 col-sm-6 col-6 header-top-right no-padding">
                    <p class="float-right">
                        <a class="btn btn-sm btn-outline-info bg-transparent text-white" href="#" title="Contact">+880123456789</a>
                        <a class="btn btn-sm btn-outline-info bg-transparent text-white" href="mailto:support@bcc.gov.bd" title="Support mail">support@bcc.gov.bd</a>
                        <a class="btn btn-sm btn-outline-info bg-transparent text-white" href="@Url.Action("Help", "Home")" title="Need user help!" target="_blank">Help!</a>

                    </p>

                </div>
                <div class="col-lg-2 col-sm-2 col-2 header-top-right no-padding">
                    <p class="float-right">
                        @*<a class="btn btn-sm btn-outline-info bg-transparent text-white" href="@Url.Action("Login", "Account")" title="Log In">Log IN</a>*@
                        @Html.Partial("_LoginPartial")
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
                <nav id="nav-menu-container" class="col-md-12">
                    <ul class="nav-menu">
                        <li class="menu-active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @if (User.IsInRole("Administrator"))
                        {

                            <li class="menu-has-children">

                                <a href="#">SetUp All</a>
                                <ul>
                                    <li class="menu-has-children">
                                        <a href="#">Organization</a>
                                        <ul>
                                            <li>@Html.ActionLink("Create New", "Create", "Organizations")</li>
                                            <li>@Html.ActionLink("Organization List", "Index", "Organizations")</li>
                                        </ul>
                                    </li>
                                    <li class="menu-has-children">
                                        <a href="#">Department</a>
                                        <ul>
                                            <li>@Html.ActionLink("Create New", "Create", "Departments")</li>
                                            <li>@Html.ActionLink("List Of Department", "Index", "Departments")</li>

                                        </ul>
                                    </li>
                                    <li class="menu-has-children">
                                        <a href="#">Designation</a>
                                        <ul>
                                            <li>@Html.ActionLink("Create New", "Create", "Designations")</li>
                                            <li>@Html.ActionLink("List Of Designation", "Index", "Designations")</li>
                                        </ul>
                                    </li>
                                    <li class="menu-has-children">
                                        <a href="#">Employee Type</a>
                                        <ul>
                                            <li>@Html.ActionLink("Create New", "Create", "EmployeeTypes")</li>
                                            <li>@Html.ActionLink("List Of Employee", "Index", "EmployeeTypes")</li>
                                        </ul>
                                    </li>
                                    <li class="menu-has-children">
                                        <a href="#">Employee</a>
                                        <ul>
                                            <li>@Html.ActionLink("Create New", "Create", "Employees")</li>
                                            <li>@Html.ActionLink("List Of Employee", "Index", "Employees")</li>
                                        </ul>
                                    </li>
                                    <li class="menu-has-children">
                                        <a href="#">Vehicle Types</a>
                                        <ul>
                                            <li>@Html.ActionLink("Create New", "Create", "VehicleTypes")</li>
                                            <li>@Html.ActionLink("List Of Vehile Type", "Index", "VehicleTypes")</li>
                                        </ul>
                                    </li>
                                    <li class="menu-has-children">
                                        <a href="#">Vehicle</a>
                                        <ul>
                                            <li>@Html.ActionLink("Create New", "Create", "Vehicles")</li>
                                            <li>@Html.ActionLink("List Of Vehicle", "Index", "Vehicles")</li>

                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        }

                        <li>@Html.ActionLink("Send Request", "Create", "Requisitions")</li>
                        <li>@Html.ActionLink("Requisition Queue", "Queue", "RequisitionQueue")</li>
                        @*<li class="menu-has-children">
                                <a href="#">Requisition Queue</a>
                                <ul>
                                    <li>@Html.ActionLink("New Requisitions", "Requests", "AssignRequisitions")</li>
                                    <li>@Html.ActionLink("Assigned Requisitions", "Index", "AssignRequisitions")</li>
                                    <li>@Html.ActionLink("Requisitions Status", "Index", "RequisitionStatus")</li>
                                    <li>@Html.ActionLink("All Requisitions", "Index", "Requisitions")</li>
                                </ul>
                            </li>*@
                        <li class="menu-has-children">
                            <a href="#">Gate Pass</a>

                            <ul>
                                <li>@Html.ActionLink("Check-Out", "Index", "GatePass")</li>
                                <li>@Html.ActionLink("Check-In", "CheckIn", "GatePass")</li>
                            </ul>
                        </li>
                        
                    </ul>        
                </nav><!-- #nav-menu-container -->
            
            @*<div class="col-md-2 menu-social-icons text-right align-text-top">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>*@
        </div>
    </div>
</header><!-- End header -->
