
<header id="header" id="home">
    <!-- Start header -->
    <div class="header-top" >
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-4 col-sm-4 col-4 header-top-left no-padding">

                    <p class="float-left">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/bcc_logo.png" width="40" height="40" alt="Home Logo" title="Home BCC"/></a>
                        &nbsp; <strong style="font-size: 20px;" class="font-weight-bold" id="logotext">Bangladesh Computer Council</strong>
                    </p>
                </div>
                <div class="col-lg-8 col-sm-8 col-8 header-top-right no-padding">
                    <p class="float-right">
                        <a class="btn btn-sm btn-outline-info bg-transparent text-white" href="@Url.Action("Help", "Home")" title="Need user help!" target="_blank"><i class="fa fa-info"></i> Help!</a>
                        @Html.Partial("_LoginPartial")
                    </p>

                </div>
            </div>
            <div class="row clear">
                <div class="col-lg-12 col-sm-12 col-12 header-top-right no-padding ">
                    <p class="text-right no-padding no-margin">
                        <a class="bg-transparent text-white" href="#" title="Contact"><i class="fa fa-phone"></i> +88 01234 567 890</a>
                        <a class="bg-transparent text-white" href="mailto:support@bcc.gov.bd" title="Support mail"><i class="fa fa-envelope-o"></i> support@bcc.gov.bd</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
                <nav id="nav-menu-container" class="col-md-12">
                    <ul class="nav-menu">
                        <li class="menu-active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @if (User.IsInRole("Administrator"))
                        {


                            <li>@Html.ActionLink("Setup Queue", "Index", "SetupAll")</li>
                            <li>@Html.ActionLink("Send Request", "Create", "Requisitions")</li>
                            <li>@Html.ActionLink("Requisition Queue", "Queue", "RequisitionQueue")</li>
                            <li class="menu-has-children">
                                <a href="#">Gate Pass</a>

                                <ul>
                                    <li>@Html.ActionLink("Check-Out", "Index", "GatePass")</li>
                                    <li>@Html.ActionLink("Check-In", "CheckIn", "GatePass")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Create Controller", "CreateController", "Account")</li>

                        }
                       
                        @if (User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Send Request", "Create", "Requisitions")</li>
                        }
                        @if (User.IsInRole("Controller"))
                        {
                            <li>@Html.ActionLink("Requisition Queue", "Queue", "RequisitionQueue")</li>
                            <li class="menu-has-children">
                                <a href="#">Gate Pass</a>

                                <ul>
                                    <li>@Html.ActionLink("Check-Out", "Index", "GatePass")</li>
                                    <li>@Html.ActionLink("Check-In", "CheckIn", "GatePass")</li>
                                </ul>
                            </li>
                        }

                       
                        
                        
                    </ul>        
                </nav><!-- #nav-menu-container -->
            
            @*<div class="col-md-2 menu-social-icons text-right align-text-top">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>*@
        </div>
    </div>
</header><!-- End header -->
