

<header id="header" id="home">
    <!-- Start header -->
    <div class="header-top" >
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-4 header-top-left no-padding">
                    <p class="float-left">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/bcc_logo.png" width="40" height="40" alt="Home Logo" title="Home BCC"/></a>
                        &nbsp; <strong style="font-size: 20px;" class="font-weight-bold" id="logotext">Bangladesh Computer Council</strong>
                    </p>
                    
                </div>
                <div class="col-lg-8 col-sm-8 col-8 header-top-right no-padding">
                   
                    
                    <p class="float-right">

                        @if (User.IsInRole("User") || User.IsInRole("Administrator") || User.IsInRole("Controller"))
                        {
                            <a class="btn btn-sm btn-outline-info bg-transparent text-white" href="@Url.Action("Help", "Home")" title="Need user help!" target="_blank"><i class="fa fa-info"></i> Help!</a>
                        }

                        @Html.Partial("_LoginPartial")
                    </p>

                </div>
            </div>
            <div class="row clear">
                <div class="col-lg-12 col-sm-12 col-12 header-top-right no-padding ">
                    <p class="text-right">
                        
                        <ul>
                            <li class="dropdown">
                                <a class="bg-transparent text-white" href="#" title="Contact"><i class="fa fa-phone"></i> +88 01234 567 890</a>
                                <a class="bg-transparent text-white" href="mailto:support@bcc.gov.bd" title="Support mail"><i class="fa fa-envelope-o"></i> support@bcc.gov.bd</a>
                                @if (!User.IsInRole("Controller") && (!User.IsInRole("User") && (!User.IsInRole("Administrator"))))
                                {
                                    <a title="Change Language!" class="bg-transparent text-white" data-toggle="dropdown" href="#"><i class="fa fa-language"></i> Lang</a>

                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Eng", "ChangeLanguage", "Language", new {LanguageAbbrevation = "en"}, new {@class = "bg-transparent"})</li>
                                        <li>@Html.ActionLink("বাংলা", "ChangeLanguage", "Language", new { LanguageAbbrevation = "bn" }, new {@class="bg-transparent"})</li>
                                    </ul>

                                }
                            </li>
                        </ul>
                         
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <nav id="nav-menu-container" class="col-md-9 col-9 col-lg-9">
                <ul class="nav-menu">
                    <li class="menu-active">@Html.ActionLink(@Resources.HomeText.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(@Resources.HomeText.About, "About", "Home")</li>
                    <li>@Html.ActionLink(@Resources.HomeText.Contact, "Contact", "Home")</li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Setup Queue", "SetupQueue", "Queue")</li>
                    }
                    @if (User.IsInRole("Controller") || User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Requisition Queue", "RequisitionQueue", "Queue")</li>
                        <li>@Html.ActionLink("Send Request", "Create", "Requisitions")</li>
                        <li>@Html.ActionLink("GatePass", "Index", "GatePass")</li>
                        <li>@Html.ActionLink("Feedback", "Index", "Requisitions" )<i class="fa fa-comment"></i></li>

                    }
                   

                    @if (User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("Send Request", "Create", "Requisitions")</li>
                    }

                </ul>

            </nav><!-- #nav-menu-container -->

            @if (User.IsInRole("Controller"))
            {
                <nav id="loadNotification" class="col-md-3 col-3 col-lg-3">
                    <!--Notification for Controller-->
                    @Html.Partial("_ControllerNotification")

                </nav>
            }

            @if (User.IsInRole("User"))
            {
                <nav id="loadEmpNtification" class="col-md-3 col-3 col-lg-3">
                    <!--Notification for Employee-->
                    @Html.Partial("_EmployeeNotification")
                </nav>
            }
        </div>
    </div>

    

</header><!-- End header -->
