@model  RMS.App.ViewModels.RequisitionStatusViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details Requisition Status</h2>
<hr/>

<div class="row">
    
    <div class="col-md-3">@Html.DisplayNameFor(model => model.Requisition.RequisitionNumber)</div>
    <div class="col-md=9">@Html.DisplayFor(model => model.Requisition.RequisitionNumber)</div>
    <div class="col-md-3">@Html.DisplayNameFor(model => model.StatusType)</div>
    <div class="col-md=9">@Html.DisplayFor(model => model.StatusType)</div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new {@class="btn btn-warning"}) |
    @Html.ActionLink("Back to List", "Index",null,new {@class="btn btn-info"})
</p>
