@model RMS.App.ViewModels.VehicleViewModel

@{
    ViewBag.Title = "Details";
}
 
<h2>Vehicle Details</h2>
<hr/>
<div class="row">
    <div class="col-md-2">@Html.DisplayNameFor(model => model.VehicleTypeId)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.VehicleType.Name)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.BrandName)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.BrandName)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.ModelName)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.ModelName)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.RegNo)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.RegNo)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.ChassisNo)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.ChassisNo)</div>

    <div class="col-md-2">@Html.DisplayNameFor(model => model.SeatCapacity)</div>
    <div class="col-md-10">@Html.DisplayFor(model => model.SeatCapacity)</div>
    <h4></h4>

</div>
<br/>
<p>
    @Html.ActionLink("Edit", "Edit","Vehicles", new { id = Model.Id },new {@class="btn btn-warning"}) &nbsp;
    @Html.ActionLink("Back to List", "Index","Vehicles",null,new {@class="btn btn-info"})
</p>
