@model IEnumerable<RMS.Models.EntityModels.Vehicle>

@{
    ViewBag.Title = "Index";
}
<br/>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>

        <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
            <input type="text" placeholder="Search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search () '" />
            <button class="nw-btn primary-btn">Search<span class="lnr lnr-arrow-right"></span></button>
        </div>
    </div>
</div>
<br />

<table class="table">
    <tr>
        <th>
            Vehicle Type
        </th>
        <th>
            Brand Name
        </th>
        <th>
            Model
        </th>
        <th>
            Registration No
        </th>
        <th>
            Chassis No
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChassisNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
