
@using RMS.App.Models
@model RMS.App.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">


    <div class="col-md-6">
        <div class="login100-pic js-tilt" data-tilt="" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
            <img src="~/Content/img/login_user.png">
        </div>
        
    </div>

    
    @*mid*@

    <div class="col-md-6">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h4>Use a local account to log in.</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe) &nbsp;
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log In" class="btn btn-lg btn-outline-info fa fa-user" />
                    </div>
                </div>

            }
        </section>
    </div>
    <div class="col-md-12">
        <h4>Login Secret</h4><br/>
        <p class="text-danger">
            Enter your Email and password, then click login. First time browser will be asked to Save account information by your browser.
            If you are Indifferent as like as simply click this butto which you help to remember the email and password...
            By clicking login if you are valid user you can find different action which is helpful for your work....Thanks...
        </p>
        <p>
            To maintain a secure account, you should change your password often.
        </p>
        <h4>Log Out</h4><br/>
        <p>
            If you have not manually clicked on Logout from within NetDocuments, you will be logged out automatically when your activity has been idle for 90 minutes.
             You are also logged out officially if you just close your browser session rather than clicking the Logout link. 
        </p>
    </div>
  

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




